[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
django-cloudinary-storage = "*"
django = "==3.2.3"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
django-sms = "*"
twilio = "*"
django-jazzmin = "*"
python-dotenv = "==0.21.1"

[dev-packages]

[requires]
python_version = "3.10"
